@import "tailwindcss";

@theme {
	/* Mapeia a variável CSS para a classe bg-background do Tailwind */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@layer base {
	:root {
		/* OKLCH: L (luminosidade), C (croma), H (matiz) */
		/* Exemplo: Branco puro */
		--background: oklch(1 0 0);
		/* Exemplo: Preto quase puro para o texto */
		--foreground: oklch(0.145 0 0);
	}

	/* Reset básico para garantir que o fundo e o texto funcionem */
	body {
		@apply bg-background text-foreground antialiased;
		margin: 0 auto;
		padding: 0;
		max-width: 1440px;
		box-sizing: border-box;
	}
}
