@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	/* Mapeia a variável CSS para a classe bg-background do Tailwind */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-purple-light: var(--purple-light);
	--color-purple: var(--purple);
	--color-purple-dark: var(--purple-dark);
	--color-yellow-light: var(--yellow-light);
	--color-yellow-dark: var(--yellow-dark);
	--color-gray-light: var(--gray-light);

	--color-base-card: var(--base-card);
	--color-base-button: var(--base-button);
	--color-base-text: var(--base-text);
	--color-base-input: var(--base-input);
	--font-title: "Baloo 2", sans-serif;
	--font-content: "Roboto", sans-serif;

	--font-size-h1-title: --breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-xl: 1280px;
}

@layer base {
	:root {
		--background: #ffffff;
		--base-card: #f3f2f2;
		--base-button: #e6e5e5;
		--base-text: #574f4d;
		--base-input: #ededed;

		--gray-light: #706765;

		--purple-light: #ebe5f9;
		--purple: #8047f8;
		--purple-dark: #4b2995;

		--yellow-light: #f1e9c9;
		--yellow-dark: #c47f17;
		--foreground: #000000;
	}
	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-xl font-bold;
	}

	h1,
	h2 {
		@apply font-title font-extrabold;
	}
	body {
		@apply bg-background text-foreground antialiased;
		margin: 0 auto;
		padding-block: 0;
		padding-inline: 0.5rem;
		max-width: 1280px;
		box-sizing: border-box;
		font-family: var(--font-title);
	}

	button {
		cursor: pointer;
	}
}
