@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	/* Mapeia a variável CSS para a classe bg-background do Tailwind */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-purple-light: var(--purple-light);
	--color-purple: var(--purple);
	--color-yellow-light: var(--yellow-light);
	--color-yellow-dark: var(--yellow-dark);

	--font-title: "Baloo 2", sans-serif;
	--font-content: "Roboto", sans-serif;

	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-xl: 1280px;
}

@layer base {
	:root {
		--background: #ffffff;

		--purple-light: #ebe5f9;
		--purple: #8047f8;

		--yellow-light: #f1e9c9;
		--yellow-dark: #c47f17;
		--foreground: #000000;
	}

	/* Reset básico para garantir que o fundo e o texto funcionem */
	body {
		@apply bg-background text-foreground antialiased;
		margin: 0 auto;
		padding-block: 0;
		padding-inline: 0.5rem;
		max-width: 1280px;
		box-sizing: border-box;
		font-family: var(--font-title);
	}

	button {
		cursor: pointer;
	}
}
