@import "tailwindcss";

@theme {
	/* Mapeia a variável CSS para a classe bg-background do Tailwind */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-purple-light: var(--purple-light);
	--color-purple: var(--purple);
	--color-yellow-light: var(--yellow-light);
	--color-yellow-dark: var(--yellow-dark);
}

@layer base {
	:root {
		--background: #ffffff;

		--purple-light: #ebe5f9;
		--purple: #8047f8;

		--yellow-light: #f1e9c9;
		--yellow-dark: #c47f17;
		--foreground: #000000;
	}

	/* Reset básico para garantir que o fundo e o texto funcionem */
	body {
		@apply bg-background text-foreground antialiased;
		margin: 0 auto;
		padding-block: 0;
		padding-inline: 0.5rem;
		max-width: 1440px;
		box-sizing: border-box;
	}

	button {
		cursor: pointer;
	}
}
